.gitattributes.bak 
/.vs
/PangyaAPI/PangyaAPI.Utilities/obj
/PangyaAPI/PangyaAPI.Network/obj
/PangyaAPI/PangyaAPI.SQL/obj
/PangLib.IFF.JP/PangLib.IFF.JP/obj
/PangyaAPI/PangyaAPI.Utilities/bin
/PangyaAPI/PangyaAPI.Network/bin
/PangyaAPI/PangyaAPI.SQL/bin
/PangLib.IFF.JP/PangLib.IFF.JP/bin
/GameServer/GameServer
/GameServer/obj
